.extendedInfoWraper {
  position: relative;
  display: flex;
  align-items: center;
}
.extendedInfoWraper::after {
  content: '';
  box-sizing: border-box;
  height: 25.3px;
  width: 1px;
  border-right: 2px solid #4b597b;
  opacity: 0.3;
  position: absolute;
  left: 77.5px;
  bottom: -2.8px;
}
.extendedInfo {
  width: 293px;
  color: #4b597b;
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.35px;
  line-height: 30px;
  padding: 10.5px 178.5px 12.5px 20.5px;
  border: 1px solid rgba(75, 89, 123, 0.3);
  border-radius: 4px;
  margin: 29.5px 23.5px 22.5px 28.5px;
}
.extendedInfoWraper .removeButton {
  margin-right: 41px;
}
.mainInfo {
  text-align: left;
  margin: 0;
  padding: 0;
}
