.removeButton {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(180deg, #f978a2 0%, #f1435b 100%);
  box-shadow: 0 6px 12px 0 #ffc0c9;
  position: relative;
  margin-right: 25px;
  margin-left: auto;
}
.minus {
  height: 4px;
  width: 12px;
  background-color: #ffffff;
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
}
