@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(312.39deg, #ed88ff 0%, #2a74f2 100%);
  font-family: Poppins;
  color: #4b597b;
  letter-spacing: 0.35px;
  line-height: 30px;
  text-align: center;
}
button {
  cursor: pointer;
  border: none;
}
.addButton {
  position: relative;
  border-radius: 50%;
  background: linear-gradient(0deg, #27e7e7 0%, #f4ff51 100%);
  box-shadow: 0 12px 12px 0 rgba(61, 234, 214, 0.3);
}
.addButton__small {
  height: 40px;
  width: 40px;
  margin: 10px 318px 25px 57px;
}
.removeButton {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: linear-gradient(180deg, #f978a2 0%, #f1435b 100%);
  box-shadow: 0 6px 12px 0 #ffc0c9;
  position: relative;
  margin-right: 25px;
  margin-left: auto;
}
.decorationLine::after {
  /*header, extendedInfoWraper, informationBox */
  content: '';
  box-sizing: border-box;
  opacity: 0.3;
  position: absolute;
  border-color: #4b597b;
}

.mainContent {
  display: inline-block;
  width: 800px;
  padding-top: 72px;
  padding-right: 73px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 37px 0 rgba(225, 230, 255, 0.54);
  margin: 0 auto;
  padding: 0;
}
.header {
  margin-top: 72px;
  margin-left: 75px;
  margin-bottom: 53px;
  height: 80px;
  width: 300px;
  border-radius: 7px;
  background: linear-gradient(0deg, #7176f7 0%, #ca75f1 100%);
  box-shadow: 0 7px 19px 0 rgba(125, 118, 246, 0.31);
  padding-top: 21px;
  position: relative;
}
.header::after {
  height: 53px;
  width: 1px;
  border-right: 2px solid;
  bottom: -53px;
}
.extendedInfoWraper::after {
  height: 25.3px;
  width: 1px;
  border-right: 2px solid;
  left: 77.5px;
  bottom: -2.8px;
}
.informationBox::after {
  height: 0;
  width: 74px;
  border-bottom: 2px solid;
  left: -74px;
}
.extraInfo::after {
  height: 0;
  width: 24px;
  border-bottom: 2px solid;
  left: -25px;
}
.addButton__small::before {
  content: '';
  box-sizing: border-box;
  height: 11.8px;
  width: 1px;
  border-right: 2px solid #4b597b;
  opacity: 0.3;
  position: absolute;
  top: -11.8px;
}
.informationBox::before {
  content: 'And';
  display: flex;
  align-items: center;
  width: 52px;
  opacity: 0.4;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  top: -20px;
  bottom: -20px;
  left: -128px;
  border-right: 2px solid #4b597bbb;
}
.backgroundButton::before {
  content: '';
  box-sizing: border-box;
  height: 58px;
  width: 1px;
  border-right: 2px solid #4b597b;
  opacity: 0.3;
  position: absolute;
  top: -58px;
}
.extraInfo::before {
  content: 'Or';
  display: flex;
  align-items: center;
  width: 52px;
  opacity: 0.4;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  top: -2.75px;
  bottom: -3.75px;
  left: -79px;
  border-right: 2px solid #4b597bbb;
}
header h2 {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.44px;
  line-height: 38px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.23);
}
.extendedInfoWraper {
  position: relative;
  display: flex;
  align-items: center;
}
.extendedInfo {
  width: 293px;
  font-size: 20px;
  font-weight: bold;
  padding: 10.5px 178.5px 12.5px 20.5px;
  border: 1px solid rgba(75, 89, 123, 0.3);
  border-radius: 4px;
  margin: 29.5px 23.5px 22.5px 28.5px;
}
.extendedInfoWraper .removeButton {
  margin-right: 41px;
}
.mainInfo {
  text-align: left;
  margin: 0;
  padding: 0;
}
.informationBox {
  position: relative;
  width: 426px;
  margin: 20px 73px 20px 301px;
  float: right;
  border-radius: 7px;
  background-color: #ffffff;
  box-shadow: 0 7px 23px 0 rgba(186, 184, 230, 0.31);
  display: flex;
  align-items: center;
}
.purpleStripe {
  align-self: stretch;
  width: 12px;
  border-radius: 7px 0 0 7px;
  background: linear-gradient(0deg, #7176f7 0%, #ca75f1 100%);
  box-shadow: 0 7px 19px 0 rgba(125, 118, 246, 0.31);
  float: left;
}
.info {
  float: left;
  padding-left: 38px;
  height: 28px;
  font-size: 20px;
  font-weight: bold;
}
.addSection {
  margin: 58px 526px 75px 178px;
  display: block;
  float: left;
}
.backgroundButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 96px;
  width: 96px;
  border-radius: 50%;
  border: 0;
  background-color: #ffffff;
  box-shadow: 0 12px 12px 0 rgba(61, 234, 214, 0.3);
}
.mainAdd {
  position: relative;
  height: 71px;
  width: 71px;
  background: linear-gradient(0deg, #27e7e7 0%, #f4ff51 100%);
  box-shadow: 0 12px 12px 0 rgba(61, 234, 214, 0.3);
  border-radius: 50%;
}
.line {
  height: 5.6px;
  width: 30px;
  background-color: #ffffff;
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
}
.extraInfo {
  position: relative;
  margin: 4.5px 30.5px 4.5px 103.5px;
  display: flex;
  align-items: center;
  padding: 0 10.5px 0 20.5px;
  width: 280px;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid rgba(75, 89, 123, 0.3);
  border-radius: 4px;
  height: 51px;
}
.moreInfo {
  padding: 0;
  margin: 0;
}
.extraInfo .removeButton {
  margin-right: 0;
}
.minus {
  height: 4px;
  width: 12px;
  background-color: #ffffff;
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
}
.vertical {
  transform: translate(-50%, -50%) rotate(90deg);
}
