* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(312.39deg, #ed88ff 0%, #2a74f2 100%);
  text-align: center;
}

.mainContent {
  display: inline-block;
  height: 990px;
  width: 800px;
  padding-top: 72px;
  padding-right: 73px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 37px 0 rgba(225, 230, 255, 0.54);
  margin: 0 auto;
  padding: 0;
}
.header {
  margin-top: 72px;
  margin-left: 75px;
  height: 80px;
  width: 300px;
  border-radius: 7px;
  background: linear-gradient(0deg, #7176f7 0%, #ca75f1 100%);
  box-shadow: 0 7px 19px 0 rgba(125, 118, 246, 0.31);
  padding-top: 21px;
}
header h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #ffffff;
  font-family: Poppins;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.44px;
  line-height: 38px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.23);
}

/* MODAL */
.closeStyles {
  background: linear-gradient(180deg, #f978a2 0%, #f1435b 100%);
  color: #ffffff;
  font-size: 18px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.submitButton {
  background: linear-gradient(#7176f7, #ca75f1);
  border: none;
  cursor: pointer;
  height: 50px;
  width: 80px;
  border-radius: 7px;
  background: linear-gradient(0deg, #7176f7 0%, #ca75f1 100%);
  box-shadow: 0 7px 19px 0 rgba(125, 118, 246, 0.31);
  color: #ffffff;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.44px;
  line-height: 38px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.23);
}
input {
  box-sizing: border-box;
  cursor: pointer;
  padding-left: 10px;
  border-radius: 7px;
  border: 1px solid #4b597b;
  height: 50px;
  width: 250px;
  margin: 5px;
}
